<!DOCTYPE html>
<html>
<head>
  <title>Grupo 1</title>
  <link rel="stylesheet" type="text/css" href="css/style2.css">
</head>
<body>
  <div class="container">
    <div class="user-info">
      <div class="user-name">
        <span>Pedro Wilson</span>
      </div>
      <div class="balance">
        <span class="label">Saldo:</span>
        <span class="value">R$1,500.00</span>
      </div>
      <div class="user-icon"></div>
    </div>
    <h1>Grupo 1</h1>
    <div class="container">
      <div class="buttons-container">
        <button>Meus Lançamentos</button>
        <button>Novo Lançamento</button>
        <button>Mudar Grupo</button>
        <button>Entrar em Grupo</button>
      </div>
      <div class="groups-container">
        <h3 class="text-center">Meus Grupos</h3>
        <table>
          <thead>
            <tr>
              <th>Nome do Grupo</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Grupo 1</td>
              <th>R$500.00</th>
            </tr>
            <tr>
              <td>Grupo 2</td>
              <th>R$250.00</th>
            </tr>
            <tr>
              <td>Grupo 3</td>
              <th>R$550.00</th>
            </tr>
          </tbody>
        </table>
      </div>
  <div class="transaction-history">
    <h3  class="text-center">Ultimas transações do Grupo</h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-color="red">10/05/2023</td>
          <td>Compra de alimentos</td>
          <td>R$50.00</td>
        </tr>
        <tr>
          <td data-color="green">05/05/2023</td>
          <td>Pagamento de aluguel</td>
          <td>R$800.00</td>
        </tr>
        <tr>
          <td data-color="yellow">01/05/2023</td>
          <td>Transferência para usuário 2</td>
          <td>R$200.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
