<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Tela de Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{styles/style.css}">
</head>

<body>
  <div class="container">
    <h2>Login</h2>
    <form action="#" th:action="@{/login}" method="post">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" id="username" name="email" placeholder="Digite seu email" required>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="senha" placeholder="Digite sua senha" required>
      </div>

      <input type="submit" value="Entrar">
      <p th:if="${erro != null}" th:text="${erro}"></p>

      <p class="message">Não tem uma conta? <a href="/cadastro">Registre-se</a></p>
    </form>
  </div>
</body>

</html>