<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Meus Lançamentos</title>
  <link rel="stylesheet" type="text/css" href="css/style2.css">

</head>

<body>
  <div class="container">
    <div class="user-info">
      <div class="user-name">
        <span th:text="${nome}">Nome User</span>
      </div>
      <div class="balance">
        <span class="label">Saldo:</span>
        <span class="value" th:text="${saldo}">R$ 1,500.00</span>
      </div>
      <div class="user-icon"></div>
    </div>
    <h1>Meus Lançamentos</h1>
    <div class="container">
      <div class="buttons-container">
        <button>Novo Lançamento</button>
        <button>Inserir Saldo</button>
        <button>Escolher Grupo</button>
      </div>
      <div class="groups-container">
        <h3 class="text-center">Meus Grupos</h3>
        <table>
          <thead>
            <tr>
              <th>Nome do Grupo</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="lancamento : ${lancamentos}">
              <td>Grupo 1</td>
              <th>R$500.00</th>
            </tr>
            <tr>
              <td>Grupo 2</td>
              <th>R$250.00</th>
            </tr>
            <tr>
              <td>Grupo 3</td>
              <th>R$550.00</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="transaction-history">
        <h3 class="text-center">Meus Lançamentos</h2>
          <table>
            <thead>
              <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Grupo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-color="red">17/05/2023</td>
                <td>Compra de alimentos</td>
                <td>R$50.00</td>
                <td>Grupo 3</td>
              </tr>
              <tr>
                <td data-color="green">19/05/2023</td>
                <td>Pagamento do IPTU</td>
                <td>R$500.00</td>
                <td>Grupo 3</td>
              </tr>
              <tr>
                <td data-color="yellow">20/05/2023</td>
                <td>Pagamento conta de água</td>
                <td>R$180.00</td>
                <td>Grupo 2</td>
              </tr>
              <tr>
                <td data-color="red">26/05/2023</td>
                <td>Compra de alimentos para festa</td>
                <td>R$150.00</td>
                <td>Grupo 1</td>
              </tr>
            </tbody>
          </table>
      </div>
</body>

</html>