<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Notificações</title>
  <link rel="stylesheet" type="text/css" th:href="@{styles/style4.css}">
</head>
<body>
  <div class="container">
    <h1>Notificações</h1>

    <div class="notification">
      <h3>Notificação 1</h3>
      <p>Conteúdo da primeira notificação.</p>
    </div>

    <div class="notification">
      <h3>Notificação 2</h3>
      <p>Conteúdo da segunda notificação.</p>
    </div>

    <div class="notification">
      <h3>Notificação 3</h3>
      <p>Conteúdo da terceira notificação.</p>
    </div>
  </div>
</body>
</html>
