<!DOCTYPE html>
<html>
<head>
  <title>Novo Lançamento</title>
  <link rel="stylesheet" type="text/css" href="css/sytle3.css">
</head>
<body>
  <div class="container">
    <h2>Novo Lançamento</h2>
    <form class="transaction-form">
      <div class="form-group">
        <label for="description">Descrição:</label>
        <input type="text" id="description" name="description" placeholder="Descrição do lançamento">
      </div>
      <div class="form-group">
        <label for="amount">Valor:</label>
        <input type="text" id="amount" name="amount" placeholder="Valor do lançamento">
      </div>
      <div class="form-group">
        <label>Grupo:</label>
        <select>
          <option >Grupo 1</option>
          <option >Grupo 2</option>
          <option >Grupo 3</option>
        </select>
      </div>
      <button type="submit">Adicionar Lançamento</button>
    </form>
  </div>
</body>
</html>
